# Fichiers et répertoires générés par CMake
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Fichiers de configuration de l'éditeur
/.vscode/
/.idea/
/*.swp

# Fichiers de log
*.log

# Fichiers temporaires
*.tmp
*.bak
*.old
*.orig


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
