# === Ignorer les fichiers et dossiers générés ===
# Dossier d'exécution ou de build
/build/
./exec

# Fichiers et répertoires générés par CMake
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# === Ignorer les fichiers liés à l'éditeur ===
/.vscode/
/.idea/
*.swp

# === Fichiers journaux et temporaires ===
*.log
*.tmp
*.bak
*.old
*.orig

# === Fichiers intermédiaires de compilation ===
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# === Inclure explicitement les fichiers nécessaires ===
!*.cpp
!*.h
!*.ui
!CMakeLists.txt
!build_terminal.sh
!build_gui.sh
